// resources/scss/app.scss
@import 'bootstrap/scss/bootstrap';

$primary: #1977D1;
$secondary: #01958A;
$text: #7C8092;
$lightstroke: #DDE4EA;
$cardHeader: #F0F8FB;
$cardBodyDark: #D5E6EE;

// Background Gradient
@mixin gradient-bg($start-color, $end-color, $direction: to right) {
    background-image: linear-gradient($direction, $start-color, $end-color);
}

// Text Gradient
@mixin gradient-text($start-color, $end-color, $direction: to right) {
    background: linear-gradient($direction, $start-color, $end-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; // buat Firefox
    color: transparent;
}

.titlePage {
    @include gradient-text($primary, $secondary);
    font-weight: bold;
    font-size: 2rem;
}

.bgPrimaryCostume {
    @include gradient-bg($primary, $secondary, to right);
}

.btn-primary {
    @extend .bgPrimaryCostume;
}

body {
    // background: #e20808;
    background: #D5E6EE;
    color: $text;
}

.containerApp {
    min-width: 100%;

    @media (min-width: 1441px) {
        min-width: 1320px;
    }
}

.navbarCostume {

    .mainMenu {
        li {
            a {
                padding-top: 12px;
                padding-bottom: 12px;
                display: flex;
                align-items: center;

                &.active {
                    @extend .bgPrimaryCostume;
                    color: white;
                    padding-left: 25px;
                    padding-right: 25px;
                    border-radius: 50px;
                }
            }
        }
    }
}


.headerContent {
    background: $cardHeader;
    margin-top: 70px;
    padding: 20px 10px;
}

.mainContent {
    background: $cardBodyDark;
    min-height: 100vh;
    padding: 20px 10px;
}

.iconify {
    width: 24px;
    height: 24px;

    &.xs {
        width: 14px;
        height: 14px;
    }

    &.sm {
        width: 18px;
        height: 18px;
    }

    &.md {
        width: 24px;
        height: 24px;
    }

    &.lg {
        width: 32px;
        height: 32px;
    }
}

.input-group input[type="date"] {
    min-width: 160px;
}

.input-group .btn {
    white-space: nowrap;
}

.widgetCard {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: $text;
    box-shadow: none;
    border-color: $lightstroke;

    .card-header {
        background: none;
        border: 0;
        padding-bottom: 0px;
        margin-bottom: 10px;

        h5 {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 14px;
            color: $text;

            span {
                background: $cardHeader;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                text-align: center;
                border-radius: 50px;
                margin-right: 5px;
            }
        }
    }

    &.widgetCardBodyNone {
        padding: 0;

        .card-header {
            margin: 20px;
            padding-bottom: 0;
            margin-bottom: 10px;
        }

        table {
            thead {
                border-color: transparent !important;

                th {
                    background: transparent;
                    border-color: none;
                    color: $text;
                    padding: 10px;
                    font-size: 12px;
                    font-weight: normal;

                    &:first-child {
                        padding-left: 30px;
                    }

                    &:last-child {
                        padding-right: 30px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                        font-size: 14px;
                        color: $text;

                        &:first-child {
                            padding-left: 30px;
                        }

                        &:last-child {
                            padding-right: 30px;
                        }
                    }
                }
            }


        }

        .btn-link {
            color: $text;
            font-size: 14px;
            text-decoration: none;
            padding: 0;
            margin: 0;
            font-weight: normal;

            &:hover {
                text-decoration: none;
                color: $primary;
            }
        }
    }

    &.widgetCardProduct {
        .card-body {
            background: url('../assets/images/bgCardProduct.png') no-repeat center center;
            background-size: 80%;
            min-height: 250px;
            padding-top: 30px;
            padding-bottom: 15px;
        }
    }

}

.table-striped {
    --bs-table-striped-bg: #F6F8FF; // warna background baris ganjil
    --bs-table-striped-color: $text; // warna teks di baris ganjil
    border-color: transparent !important;
}


.custom-popover {
    // --bs-popover-max-width: 200px;
    --bs-popover-border-color: #ddd;
    --bs-popover-header-bg: #1977D1;
    --bs-popover-header-color: white;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;

    .popover-body {
        color: $text;
        /* Ganti dengan warna teks yang lo mau */
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .input-group>* {
        width: 100%;
    }
    .inputGroupResponsive{
        width: 100% !important;
    }
    
}

.custom-filter-input {
    max-width: 200px;
}

.custom-filter-select {
    max-width: 150px;
}